@tailwind base;
@tailwind components;
@tailwind utilities;


  .card {
    border: 1px solid red;
    width: 100px;
    height: 200px;
    margin: 20px;
  }
  
  img {
    width: 100px;
    height: 100px;
  }
  
  
  .video::after {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  button.navbar-toggler {
    border: none
  }

  button.navbar-toggler.collapse {
    border: none;
  }

  .secondaryGray {
    color: #56565fa6;
  }